name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop

jobs:
  build_docker_image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.2
        options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry (GHCR)
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login ghcr.io -u ${{ secrets.USER_NAME }} --password-stdin

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Add environment variables to .env
      - name: Add environment variables to .env
        run: |
          # For Production (main branch)
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            echo "Setting production variables"
            echo DB_USER=${{ secrets.DB_USER }} >> .env
            echo PORT=${{ secrets.PORT }} >> .env
            echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
            echo SECRET_KEY_JWT=${{ secrets.SECRET_KEY_JWT }} >> .env
            echo TWILIO_ACCOUNT_SID=${{ secrets.TWILIO_ACCOUNT_SID }} >> .env
            echo TWILIO_AUTH_TOKEN=${{ secrets.TWILIO_AUTH_TOKEN }} >> .env
            echo TWILIO_NUMBER=${{ secrets.TWILIO_NUMBER }} >> .env
          fi

          # For Development (dev branch)
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            echo "Setting production variables"
            echo DB_USER=${{ secrets.DB_USER }} >> .env
            echo PORT=${{ secrets.PORT }} >> .env
            echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
            echo SECRET_KEY_JWT=${{ secrets.SECRET_KEY_JWT }} >> .env
            echo TWILIO_ACCOUNT_SID=${{ secrets.TWILIO_ACCOUNT_SID }} >> .env
            echo TWILIO_AUTH_TOKEN=${{ secrets.TWILIO_AUTH_TOKEN }} >> .env
            echo TWILIO_NUMBER=${{ secrets.TWILIO_NUMBER }} >> .env
          fi

          # Common environment variables for both
            echo "Setting production variables"
            echo DB_USER=${{ secrets.DB_USER }} >> .env
            echo PORT=${{ secrets.PORT }} >> .env
            echo DB_PASSWORD=${{ secrets.DB_PASSWORD }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
            echo SECRET_KEY_JWT=${{ secrets.SECRET_KEY_JWT }} >> .env
            echo TWILIO_ACCOUNT_SID=${{ secrets.TWILIO_ACCOUNT_SID }} >> .env
            echo TWILIO_AUTH_TOKEN=${{ secrets.TWILIO_AUTH_TOKEN }} >> .env
            echo TWILIO_NUMBER=${{ secrets.TWILIO_NUMBER }} >> .env

      # Validate .env file contents
      - name: Print .env file contents for debugging
        run: cat .env

      # Build Docker image for production
      - name: Build Production Docker image
        if: github.ref == 'refs/heads/main'
        run: docker build --build-arg NODE_ENV=production --build-arg env_port=8080 -t ghcr.io/intuition-business/timshel/backend:production .

      # Build Docker image for development
      - name: Build Development Docker image
        if: github.ref == 'refs/heads/dev'
        run: docker build --build-arg NODE_ENV=dev --build-arg env_port=8081 -t ghcr.io/intuition-business/timshel/backend:dev .

      # Push Production Docker image to registry
      - name: Push Production Docker image to registry
        if: github.ref == 'refs/heads/main'
        run: docker push ghcr.io/intuition-business/timshel/backend:production

      # Push Development Docker image to registry
      - name: Push Development Docker image to registry
        if: github.ref == 'refs/heads/dev'
        run: docker push ghcr.io/intuition-business/timshel/backend:dev

  # Job to deploy the application to production
  deploy_production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: build_docker_image
    if: github.ref == 'refs/heads/main'  # Only for the master branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH and SSHPass
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | jq -r .tag_name)/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Set up deployment directory
        run: |
          mkdir timshel-backend
          chmod +x timshel-backend
          mv docker-compose-production.yml timshel-backend/docker-compose.yml

      - name: Decode SSH Key and set permissions
        run: echo "${{ secrets.SERVER_SSH_KEY }}" | base64 -d > my_ssh && chmod 400 my_ssh

      - name: Copy files to server
        run: |
          sshpass scp -i my_ssh -o StrictHostKeyChecking=no -r timshel-backend ec2-user@${{ secrets.SERVER_IP }}:/home/ec2-user/

      - name: SSH and deploy
        run: |
          sshpass ssh -i my_ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} \
          "cd /home/ec2-user/timshel-backend; \
           sudo docker login -u "${{ secrets.USER_NAME }}" -p ${{ secrets.DOCKER_PASSWORD }} ghcr.io/intuition-business/timshel/backend:production; \
           sudo docker compose down; \
           sudo docker image rm ghcr.io/intuition-business/timshel/backend:production; \
           sudo docker compose up -d;"

  # Job to deploy the application to development (testing)
  deploy_dev:
    name: Deploy to Development (Testing)
    runs-on: ubuntu-latest
    needs: build_docker_image
    if: github.ref == 'refs/heads/dev'  # Only for the dev branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH and SSHPass
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | jq -r .tag_name)/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Set up deployment directory
        run: |
          mkdir timshel-backend-dev
          chmod +x timshel-backend-dev
          mv docker-compose-dev.yml timshel-backend-dev/docker-compose.yml

      - name: Decode SSH Key and set permissions
        run: echo "${{ secrets.SERVER_SSH_KEY }}" | base64 -d > my_ssh && chmod 400 my_ssh

      - name: Copy files to server
        run: |
          sshpass scp -i my_ssh -o StrictHostKeyChecking=no -r timshel-backend-dev ec2-user@${{ secrets.SERVER_IP }}:/home/ec2-user/

      - name: SSH and deploy
        run: |
          sshpass ssh -i my_ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} \
          "cd /home/ec2-user/timshel-backend-dev; \
           sudo docker login -u "${{ secrets.USER_NAME }}" -p ${{ secrets.DOCKER_PASSWORD }} ghcr.io/intuition-business/timshel/backend:dev; \
           sudo docker compose down; \
           sudo docker image rm ghcr.io/intuition-business/timshel/backend:dev; \
           sudo docker compose up -d;"